<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!-- Application Settings />-->
    <add key="Browser" value="Chrome" />
    <add key="TestUrl" value="https://qalight.ua/" />
    <add key="Email" value="my_own@email.com" />
    <add key="Password" value="QwErTy1+" />

  </appSettings>
</configuration>